<!DOCTYPE html>
<header>
    <title>Welcome</title>
</header>
<body>
<h1>Welcome! Please Answer the following question:</h1>

<form>
    <label>What topic would you like to know more about?</label><br>
    <input type="radio" id="sports" name="sports" value="sports">
    <label for="sports">Sports</label><br>
    <input type="radio" id="economy" name="economy" value="economy">
    <label for="sports">The Economy</label><br>
    <input type="radio" id="gaming" name="gaming" value="gaming">
    <label for="sports">Gaming</label><br>
    <input type="radio" id="politics" name="politics" value="politics">
    <label for="sports">Politics</label><br>
    <input type="submit" value="Submit" href="results.html">
</form>
<button><a href="results.html">Next</a></button>

</body>

</html>